# Rename this file to config.yaml and set your config

# Binance API Key (create a Sub Account ?)
binance:
  api_key: <api_key>
  api_key_secret: <api_secret>
  # com or us, depending on region
  tld: com

bridge: USDT

# Coins that the bot can jump to
coins:
  - AVAX
  - SOL
  - STRK

# Coin to start with, only used at first startup 
start_coin: AVAX

jump:
  when_gain: 0.5 # %
  # Or ⬇️
  decrease_by: 0.1 # %
  after: 2m # Go time.Duration
  # But gain cannot go below ⬇️
  min: 0.1 # %
