# Rename this file to config.yaml and set your config

# Binance API Key
binance:
  api_key: <api_key>
  api_key_secret: <api_secret>
  # com or us, depending on region
  tld: com

bridge: USDT

# Coins that the bot can jump to
coins:
  - AVAX
  - SOL
  - STRK

# Coin to start with, only used at first startup 
start_coin: AVAX

jump:
  when_gain: 3 # %
  # Or
  decrease_by: 0.5 # %
  after: 4h # Go time.Duration
